@import url('@fontsource/inter/400.css');
@import url('@fontsource/inter/500.css');
@import url('@fontsource/inter/600.css');
@import url('@fontsource/inter/700.css');
@import url('@fontsource/inter/500-italic.css');
@import url('@fontsource/ibm-plex-mono/400.css');
@import url('@fontsource/ibm-plex-mono/500.css');
@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Inter', sans-serif;
	--font-mono: 'IBM Plex Mono', monospace;
}

@keyframes pan {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 100% 0%;
	}
}
